{% extends '::base.html.twig' %}

{% block title %}{% trans %}add.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}add.message{% endtrans %}</h1>
    {{ form(form) }}
{% endblock %}

